<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <script type="text/javascript" src="/heyo/Scripts/jQuery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="/heyo/Styles/main.css">
    <script src="/heyo/Scripts/jQuery.js"></script>
  </head>
  <body>
    <section>
      <a href="login">Managers click here</a>
      <!--<a href="managerLogin">click for managers</a>-->
    </section>
  </body>
</html>
