<!DOCTYPE html>
<html>
  <head>
    <title>Manager</title>
    <script type="text/javascript" src="/heyo/Scripts/jQuery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/heyo/Styles/main.css">
    <script src="/heyo/Scripts/jQuery.js"></script>
  </head>
  <body>
    <nav id="navbar">
      <a href="http://localhost:8080/heyo/logout">logout</a>
    </nav>
    <section>
      <a href="manager/employees?who=all">employee roster</a><br>
      <a href="employee/request?action=view">reimbursements</a>
    </section>
    <script src="/Scripts/getRequests.js"></script>
  </body>
</html>
