<!DOCTYPE html>
<html>
  <head>
    <title>view requests</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/heyo/Scripts/jQuery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/heyo/Styles/main.css">

  </head>
  <body>
    <nav id="navbar">
      <a href="http://localhost:8080/heyo/logout">logout</a>
    </nav>
    <section>
      <form action="http://localhost:8080/heyo/data/request" method="post">
      Request Name<br><input id="reqName" label="name" name="name" type="text"><br>
      <textarea id="reqDescription" width="500px" height="300px" placeholder="why do you need this?" name="description"></textarea><br>
      Amount of dollars (present market price) <br><input id="reqAmt" label="amt" name="amt" type="text"><br>
      <button class=".btn .btn-default">Go</button> 
    </section>
  </body>
</html>
